@model IEnumerable<_19607040_ShopFashion.Models.product>
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<h2 class="text-success">Tất cả sản phẩm</h2>
@foreach (var i in Model)
{
    
    <div class="col-md-3">
        <div class="card mb-3 product-wap rounded-0">
            <div class="card rounded-0">
                <img class="card-img rounded-0 img-fluid" src="~/Content/upload/img/product/@i.img">
                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                    <ul class="list-unstyled">
                        <li><a class="btn btn-success text-white mt-2" href="/@ViewBag.meta/@i.meta/@i.id"><i class="fas fa-cart-plus"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <a href="/@ViewBag.meta/@i.meta/@i.id" class="h3 text-decoration-none">@i.name</a>
                <p class="text-center mb-0">@i.price</p>
            </div>
        </div>
    </div>
}



